.username-banner {
    height: 75px;
    width: 100%;
    background: (--secondary);
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 1em;
}

.user-name {
    font-size: 2em;
    color: (--primary);
}
