.username-banner {
    height: 45px;
    width: fit-content;
    background: var(--tertiary);
    display: flex;
    align-items: center;
    justify-content: left;
}

.user-name {
    font-size: 1.5em;
    color: var(--secondary);
    margin: 10px 10px 10px 10px;
}
